USE [master]
GO
CREATE DATABASE [Tratamientos] ON  PRIMARY 
( NAME = N'Tratamientos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Tratamientos.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tratamientos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Tratamientos_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tratamientos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tratamientos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pacientes](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tratamiento](
	[Consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[Fechasignado] [date] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fechainicio] [date] NOT NULL,
	[Fechafin] [date] NOT NULL,
	[Observaciones] [varchar](50) NOT NULL,
	[Paciente] [int] NOT NULL,
 CONSTRAINT [PK_Tratamiento] PRIMARY KEY CLUSTERED 
(
	[Consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_Pacientes] FOREIGN KEY([Paciente])
REFERENCES [Pacientes] ([Id])
GO
ALTER TABLE [Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_Pacientes]
GO
USE [master]
GO
